{
    "openapi": "3.0.0",
    "info": {
        "title": "JDS Platform API",
        "description": "API documentation for the JDS Platform Laravel backend.",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "http://my-default-host.com",
            "description": "Primary API server"
        }
    ],
    "paths": {
        "/api/auth/login": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Login with email and password",
                "operationId": "e35c3bf7ab33a169fbe539d38126baef",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "email",
                                    "password"
                                ],
                                "properties": {
                                    "email": {
                                        "type": "string",
                                        "example": "chairperson@jds.local"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "password123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Login successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Login successful."
                                        },
                                        "token": {
                                            "type": "string"
                                        },
                                        "token_type": {
                                            "type": "string",
                                            "example": "Bearer"
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Invalid credentials"
                    }
                }
            }
        },
        "/api/auth/me": {
            "get": {
                "tags": [
                    "Auth"
                ],
                "summary": "Get the authenticated user",
                "operationId": "1e67df8c5ba062d418e59b6346aa0286",
                "responses": {
                    "200": {
                        "description": "Authenticated user",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/change-password": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Change the authenticated user password",
                "operationId": "60dd9fd471f4d86c5085d7d196b35841",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "current_password",
                                    "password",
                                    "password_confirmation"
                                ],
                                "properties": {
                                    "current_password": {
                                        "type": "string",
                                        "example": "password123"
                                    },
                                    "password": {
                                        "type": "string",
                                        "example": "NewSecurePass123"
                                    },
                                    "password_confirmation": {
                                        "type": "string",
                                        "example": "NewSecurePass123"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Password changed successfully",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Password changed successfully."
                                        },
                                        "user": {
                                            "$ref": "#/components/schemas/User"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/auth/logout": {
            "post": {
                "tags": [
                    "Auth"
                ],
                "summary": "Logout and invalidate the current token",
                "operationId": "72585b7b003fce61469633079332a8db",
                "responses": {
                    "200": {
                        "description": "Logout successful",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Logged out successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/audit-logs": {
            "get": {
                "tags": [
                    "EXCO Audit"
                ],
                "summary": "Get the EXCO audit trail",
                "operationId": "d8a4ea8b6958f66b1701e274ed357641",
                "parameters": [
                    {
                        "name": "actor_user_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "module",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "loans"
                        }
                    },
                    {
                        "name": "action",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "loans.approved"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "date_from",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "date_to",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "format": "date"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated audit logs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AuditLog"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 3
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 10,
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 28
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Forbidden"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/concerns": {
            "get": {
                "tags": [
                    "EXCO Concerns"
                ],
                "summary": "List concerns for EXCO and support staff",
                "operationId": "e422521ca1a13efd02bd2bfb6cb341ce",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reference_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "member_search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated concern queue",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Concern"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 1
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized for support desk"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/concerns/{concern}": {
            "patch": {
                "tags": [
                    "EXCO Concerns"
                ],
                "summary": "Update the status or response note for a concern",
                "operationId": "7197a02051deb5dc62e6dd824a6322ff",
                "parameters": [
                    {
                        "name": "concern",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "example": "resolved"
                                    },
                                    "resolution_note": {
                                        "type": "string",
                                        "example": "EXCO verified the record and posted the missing share purchase.",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Concern updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Concern updated successfully."
                                        },
                                        "concern": {
                                            "$ref": "#/components/schemas/Concern"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "403": {
                        "description": "Unauthorized for support desk"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/loans": {
            "get": {
                "tags": [
                    "EXCO Loans"
                ],
                "summary": "List loans for EXCO",
                "operationId": "fb31f9f1ac83369f207f78053970cbd5",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "requested_month",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2026-04"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated loans",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Loan"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 10,
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 12
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/loans/{loan}/approve": {
            "patch": {
                "tags": [
                    "EXCO Loans"
                ],
                "summary": "Approve a loan after guarantor approval",
                "operationId": "8d6525882818d4b5fc872db7291eaf54",
                "parameters": [
                    {
                        "name": "loan",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "approved_amount": {
                                        "type": "number",
                                        "format": "float",
                                        "example": 150000,
                                        "nullable": true
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Approved after verification",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Loan approved",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Loan approved successfully."
                                        },
                                        "loan": {
                                            "$ref": "#/components/schemas/Loan"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Loan cannot be approved in its current state"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/loans/{loan}/reject": {
            "patch": {
                "tags": [
                    "EXCO Loans"
                ],
                "summary": "Reject a loan request",
                "operationId": "77f3e1a64af69766b9801e1b69ec63f0",
                "parameters": [
                    {
                        "name": "loan",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": false,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "notes": {
                                        "type": "string",
                                        "example": "Application does not meet current criteria",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Loan rejected",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Loan rejected successfully."
                                        },
                                        "loan": {
                                            "$ref": "#/components/schemas/Loan"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Loan can no longer be rejected"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/loans/{loan}/disburse": {
            "post": {
                "tags": [
                    "EXCO Loans"
                ],
                "summary": "Post a loan disbursement for an approved loan",
                "operationId": "3c54ff61ab0743478502c78964d7a076",
                "parameters": [
                    {
                        "name": "loan",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "required": [
                                    "payment_method",
                                    "receipt"
                                ],
                                "properties": {
                                    "payment_method": {
                                        "type": "string",
                                        "example": "bank_transfer"
                                    },
                                    "receipt": {
                                        "type": "string",
                                        "format": "binary"
                                    },
                                    "notes": {
                                        "type": "string",
                                        "example": "Transferred to member account",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Loan disbursed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Loan disbursed successfully."
                                        },
                                        "loan": {
                                            "$ref": "#/components/schemas/Loan"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Loan must be approved before disbursement"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/loan-repayment-submissions": {
            "get": {
                "tags": [
                    "EXCO Loans"
                ],
                "summary": "List loan repayment receipt submissions for EXCO review",
                "operationId": "dffe863a4e94fceee72d4493c78caefa",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "pending"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated repayment submissions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/LoanRepaymentSubmission"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 2,
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 2
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/loan-repayment-submissions/{loanRepaymentSubmission}/review": {
            "patch": {
                "tags": [
                    "EXCO Loans"
                ],
                "summary": "Approve or reject a member-submitted loan repayment receipt",
                "operationId": "437ed20ed61d3d4ed20974df587e5d26",
                "parameters": [
                    {
                        "name": "loanRepaymentSubmission",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "example": "approved"
                                    },
                                    "review_note": {
                                        "type": "string",
                                        "example": "Verified against bank receipt.",
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Repayment submission reviewed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Loan repayment receipt approved and posted successfully."
                                        },
                                        "loan": {
                                            "$ref": "#/components/schemas/Loan"
                                        },
                                        "submission": {
                                            "$ref": "#/components/schemas/LoanRepaymentSubmission"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Submission cannot be reviewed in its current state"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/member-applications": {
            "get": {
                "tags": [
                    "EXCO Member Applications"
                ],
                "summary": "List member applications for EXCO review",
                "operationId": "a77d6c0a8cbf1a1449a3810b881f2940",
                "responses": {
                    "200": {
                        "description": "List of applications",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MemberApplication"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/member-applications/{id}": {
            "get": {
                "tags": [
                    "EXCO Member Applications"
                ],
                "summary": "View a single member application",
                "operationId": "93015de0ec9489bad392190f9efa6ee1",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Application details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MemberApplication"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Application not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/member-applications/{id}/review": {
            "patch": {
                "tags": [
                    "EXCO Member Applications"
                ],
                "summary": "Approve or reject a member application",
                "operationId": "5e98a6288d7858dc917711d536ce89d6",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "status"
                                ],
                                "properties": {
                                    "status": {
                                        "type": "string",
                                        "example": "approved"
                                    },
                                    "review_note": {
                                        "type": "string",
                                        "example": "Meets onboarding criteria.",
                                        "nullable": true
                                    },
                                    "reviewed_by": {
                                        "type": "integer",
                                        "example": 1,
                                        "nullable": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Application reviewed",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Application reviewed successfully."
                                        },
                                        "application": {
                                            "$ref": "#/components/schemas/MemberApplication"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Invalid review state"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/members": {
            "get": {
                "tags": [
                    "EXCO Members"
                ],
                "summary": "List members for EXCO",
                "operationId": "6f4e5654b4050affc9e47becf8e5e7a5",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "List of members",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Member"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 3
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 10,
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 24
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/members/{member}": {
            "get": {
                "tags": [
                    "EXCO Members"
                ],
                "summary": "View a single member for EXCO",
                "operationId": "d8a0dcfa3a8d0e814055f873dc96747f",
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Member details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Member"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Member not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/members/{member}/share-purchases": {
            "get": {
                "tags": [
                    "EXCO Members"
                ],
                "summary": "View paginated share purchase history for a member",
                "operationId": "fab4c8a4034c55c95790747a7a69754e",
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated member share purchases",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SharePurchase"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 10,
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 11
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/members/{member}/membership-fees": {
            "get": {
                "tags": [
                    "EXCO Members"
                ],
                "summary": "View paginated membership fee history for a member",
                "operationId": "a5ae919c33da37359a536f091e33070b",
                "parameters": [
                    {
                        "name": "member",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated member membership fees",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MembershipFee"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 3,
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 3
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/membership-cycles": {
            "get": {
                "tags": [
                    "EXCO Membership Cycles"
                ],
                "summary": "List membership cycles",
                "operationId": "b4c33c2799ea2e7fc24bedab0de30723",
                "responses": {
                    "200": {
                        "description": "List of membership cycles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "array",
                                    "items": {
                                        "$ref": "#/components/schemas/MembershipCycle"
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "post": {
                "tags": [
                    "EXCO Membership Cycles"
                ],
                "summary": "Create a membership cycle",
                "operationId": "de7af05a19777d0bec35afa0274ea1ab",
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "required": [
                                    "name",
                                    "code",
                                    "starts_on",
                                    "ends_on"
                                ],
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "JDS 2027 Cycle"
                                    },
                                    "code": {
                                        "type": "string",
                                        "example": "JDS2027"
                                    },
                                    "starts_on": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2027-01-01"
                                    },
                                    "ends_on": {
                                        "type": "string",
                                        "format": "date",
                                        "example": "2027-12-31"
                                    },
                                    "onboarding_opens_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "onboarding_closes_at": {
                                        "type": "string",
                                        "format": "date-time",
                                        "nullable": true
                                    },
                                    "accepting_new_applications": {
                                        "type": "boolean",
                                        "example": true
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": false
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Cycle created",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Membership cycle created successfully."
                                        },
                                        "cycle": {
                                            "$ref": "#/components/schemas/MembershipCycle"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/membership-cycles/{id}": {
            "get": {
                "tags": [
                    "EXCO Membership Cycles"
                ],
                "summary": "View a membership cycle",
                "operationId": "2f5f784125b287725953d6752bd4d438",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cycle details",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/MembershipCycle"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Cycle not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "delete": {
                "tags": [
                    "EXCO Membership Cycles"
                ],
                "summary": "Delete a membership cycle",
                "operationId": "e60f64511bdb8988e0e33f5e85f5ae97",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cycle deleted",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Membership cycle deleted successfully."
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Cycle has linked records and cannot be deleted"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            },
            "patch": {
                "tags": [
                    "EXCO Membership Cycles"
                ],
                "summary": "Update a membership cycle",
                "operationId": "b6e1e023f3c86bf70955961339f3de03",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "example": "JDS 2027 Cycle"
                                    },
                                    "accepting_new_applications": {
                                        "type": "boolean",
                                        "example": false
                                    },
                                    "onboarding_notes": {
                                        "type": "string",
                                        "nullable": true
                                    },
                                    "is_active": {
                                        "type": "boolean",
                                        "example": true
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Cycle updated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Membership cycle updated successfully."
                                        },
                                        "cycle": {
                                            "$ref": "#/components/schemas/MembershipCycle"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "422": {
                        "description": "Validation error"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/membership-cycles/{id}/activate": {
            "patch": {
                "tags": [
                    "EXCO Membership Cycles"
                ],
                "summary": "Activate a membership cycle",
                "operationId": "c5f82a9271782b04b4e26c5fb1b3f2ae",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Cycle activated",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "example": "Membership cycle activated successfully."
                                        },
                                        "cycle": {
                                            "$ref": "#/components/schemas/MembershipCycle"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    },
                    "404": {
                        "description": "Cycle not found"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/reports/summary": {
            "get": {
                "tags": [
                    "EXCO Reports"
                ],
                "summary": "Get the EXCO reporting summary for a cycle or the active cycle",
                "operationId": "f3a45ad4be68cf19fc7177e2e7058059",
                "parameters": [
                    {
                        "name": "membership_cycle_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Report summary",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "cycle": {
                                            "oneOf": [
                                                {
                                                    "$ref": "#/components/schemas/MembershipCycle"
                                                }
                                            ],
                                            "nullable": true
                                        },
                                        "summary": {
                                            "properties": {
                                                "members_on_platform": {
                                                    "type": "integer",
                                                    "example": 24
                                                },
                                                "members_with_savings": {
                                                    "type": "integer",
                                                    "example": 18
                                                },
                                                "total_savings_value": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 8200000
                                                },
                                                "membership_fees_paid_total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 54000
                                                },
                                                "loans_disbursed_total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 3200000
                                                },
                                                "loan_service_charge_total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 320000
                                                },
                                                "outstanding_loan_balance": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 850000
                                                },
                                                "shareout_net_payout_total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 9150000
                                                },
                                                "shareout_paid_total": {
                                                    "type": "number",
                                                    "format": "float",
                                                    "example": 6100000
                                                },
                                                "open_concerns_count": {
                                                    "type": "integer",
                                                    "example": 2
                                                },
                                                "resolved_concerns_count": {
                                                    "type": "integer",
                                                    "example": 6
                                                }
                                            },
                                            "type": "object"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/reports/savings": {
            "get": {
                "tags": [
                    "EXCO Reports"
                ],
                "summary": "Get the EXCO savings report",
                "operationId": "f44b2fa9904b7232e43074b01e1ec5d1",
                "parameters": [
                    {
                        "name": "membership_cycle_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated savings report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Member"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 3
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 10,
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 24
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/reports/loans": {
            "get": {
                "tags": [
                    "EXCO Reports"
                ],
                "summary": "Get the EXCO loan report",
                "operationId": "35879c9ab2ef931fd2fbf84767710ad5",
                "parameters": [
                    {
                        "name": "membership_cycle_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated loan report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Loan"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 2
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 10,
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 12
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/reports/shareouts": {
            "get": {
                "tags": [
                    "EXCO Reports"
                ],
                "summary": "Get the EXCO share-out report",
                "operationId": "59e130e7d7190505a4e0562d2fbfa31a",
                "parameters": [
                    {
                        "name": "membership_cycle_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated share-out report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/ShareoutItem"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 5,
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 5
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/reports/concerns": {
            "get": {
                "tags": [
                    "EXCO Reports"
                ],
                "summary": "Get the EXCO concern report",
                "operationId": "6522181b4c595db340f92ce3c1813b5f",
                "parameters": [
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "reference_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated concern report",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/Concern"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "per_page": {
                                            "type": "integer",
                                            "example": 10
                                        },
                                        "to": {
                                            "type": "integer",
                                            "example": 4,
                                            "nullable": true
                                        },
                                        "total": {
                                            "type": "integer",
                                            "example": 4
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthenticated"
                    }
                },
                "security": [
                    {
                        "bearerAuth": []
                    }
                ]
            }
        },
        "/api/exco/membership-fees": {
            "get": {
                "tags": [
                    "EXCO Savings"
                ],
                "summary": "List membership fees for EXCO",
                "operationId": "02e9ecf2e8011feee735c6c2b7a0494d",
                "parameters": [
                    {
                        "name": "member_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "membership_cycle_id",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "fee_type",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "paid_month",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "example": "2026-01"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 10
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "integer",
                            "example": 1
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Paginated membership fees",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "current_page": {
                                            "type": "integer",
                                            "example": 1
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/MembershipFee"
                                            }
                                        },
                                        "from": {
                                            "type": "integer",
                                            "example": 1,
                                            "nullable": true
                                        },
                                        "last_page": {
[...]
